/* custom.css */
body {
    font-family: 'Arial', sans-serif;
}

.navbar-brand {
    font-weight: bold;
    color: blue;
}

footer {
    background-color: blue; /* Adjust the color to match the screenshot */
    padding-top: 20px;
    padding-bottom: 10px;
}

footer h5 {
    color: #fff;
    margin-bottom: 15px;
}

footer a {
    color: #ccc; /* Light grey text for links */
    text-decoration: none; /* Remove underline */
}

footer a:hover {
    color: #fff; /* White text on hover */
}

footer ul {
    padding-left: 0; /* Remove default padding */
    list-style-type: none; /* Remove bullet points */
}
